.buyerList {
    border: 3px solid black;
    padding: 0px 10px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.buyerList > table td {
    padding: 20px;
    vertical-align: top;
    text-align: left;
}

.buyerList > h3 {
    margin-bottom: 0px;
    text-align: center;
}
