.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: #fff;
    padding-bottom: 30px;
    width: 700px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.title{
    color: #24005ee0;
    font-size: 42px;
    font-weight: 900;
}

.underline{
    width: 500px;
    height: 6px;
    background: #24005ee0;
    border-radius: 9px;    
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #d6d3d3;
    border-radius: 6px;
}

.input img {
    height: 50px;
    margin: 0px 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.submitContainer{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    width: 175px;
    height: 50px;
    color: #fff;
    background: #24005ee0;;
    border-radius: 17px;
    font-size: 19px;
    font-weight: 900;
    cursor: pointer;
}

.link {
    background: #a4b2b0;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-decoration: none;
    border-radius: 0.25em;
    border: 5px solid black;
    
}

.link:hover{
    background: #d3c8bf;
    color: #000000;
}