body{
    text-align: center;
    
}

.button{
    background: #a4b2b0;
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1rem;

    border-radius: 0.25em;
    border: 5px solid black;

    
}

.button:hover{
    background: #d3c8bf;
}

.buyerBox{
    background-color: antiquewhite;
    border:4px solid #000000;
    padding: 2rem;
    margin: 2rem 5%;
    border-radius: 0.25em;
}

.buyerBox p{
    margin:10px 0;
    font-size: 20px;
    font-weight: bold;
}

.container{
    display:flex;
    flex-direction:column;
    align-items: center;
    
}

.buyerBox:hover{
    background-color: #a4b2b0;
}

.image{
    max-width: 100%;
    
}