
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #bfbcb7;

    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;

    position: sticky;
    top: 0;

    max-width: 100%;
}

.active{
    background: #a4b2b0;
}

nav .title{
    font-size: 3rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    
}

nav ul{
    display:flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-size: 1.5rem;
    display:flex;
    text-decoration: none;
    font-weight:bold;
    color:#ffffff;
    padding:0.5rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

nav ul li a:hover{ /*can add not selector later for not hovering*/
    background: #a4b2b0;
}


nav .menu{
    display: none;
    position: absolute;
    top:0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5rem;
    height:2.25rem;

}

nav .menu span{
    height:0.4rem;
    width:100%;
    background: #ffffff;
    border-radius: 0.2rem;
    cursor: pointer;
    

}

@media (max-width: 800px){
    nav .menu{
        display:flex;
    }

    nav{
        flex-direction: column;
        align-items: start;
    }

    nav ul{
        display: none; 
        flex-direction:column;
        text-align: center;
        width: 100%;
        
        padding:0;
        margin:0
        
    }

    nav ul.open{
        display:flex;
    }
    

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }




}


